version: 2.1

orbs:
  macos: circleci/macos@2.5.2

executors:
  default:
    macos:
      xcode: 16.0

commands:
  setup_environment:
    steps:
      - macos/install-rosetta
      - run:
          name: Install Dependencies
          command: make setup

jobs:
  build-and-test:
    circleci_ip_ranges: false
    executor: default
    steps:
      - checkout
      - setup_environment
      - run:
          name: Run SwiftLint
          command: swiftlint
      - run:
          name: Run SwiftFormat
          command: make format
      - run:
          name: Execute Tests and Coverage
          command: bundle exec fastlane test
      - store_artifacts:
          path: fastlane/xcov_output
          destination: code-coverage
      - persist_to_workspace:
          root: .
          paths:
            - .
            - vendor/bundle

  snapshot-tests:
    executor: default
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run Snapshot Tests
          command: bundle exec fastlane snapshot_tests
workflows:
  version: 2

  build-test:
    jobs:
      - build-and-test
      - snapshot-tests:
          requires:
            - build-and-test
